@model IEnumerable<PhapClinicX.Models.ServicePackage>

<!-- Service Packages Start -->
<div class="container-fluid services bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h4 class="text-primary">Gói Dịch Vụ Y Tế</h4>
            <h1 class="display-4 mb-4">Lựa Chọn Phù Hợp Với Bạn</h1>
            <p class="mb-0">
                Chúng tôi cung cấp nhiều gói dịch vụ y tế chuyên sâu, giúp bạn chăm sóc sức khỏe tốt nhất với mức giá hợp lý.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var p in Model)
            {
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <div class="service-item p-4 bg-white text-center shadow rounded">
                        <img style="width: 400px; height: 200px; object-fit:cover" src="~/assets/img/ServicePackages/@p.Image" alt="Khám tổng quát" class="img-fluid rounded mb-3">
                    <h4 class="mb-3">@p.PackageName</h4>
                    <p class="mb-3">@p.Title</p>
                        @using System.Globalization
                    <h3 class="text-primary">@p.Price?.ToString("N0", new CultureInfo("vi-VN")) VNĐ</h3>

                    <a class="btn btn-primary rounded-pill py-2 px-4 mt-3" href="#">Đặt Lịch Ngay</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Service Packages End -->
