@model IEnumerable<PhapClinicX.Models.PhongKham>
<div style="max-width:1450px; padding:40px" class="container my-5">
    <!-- Tiêu đề -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h2 class="fw-bold">Đặt lịch khám tại từng chi nhánh</h2>
            <p style="color:#bc1616 !important">🏨 Chọn phòng khám bạn muốn - Đặt lịch khám dễ dàng</p>
        </div>
        <button style="border-radius: 30px; padding: 10px 20px;" class="btn btn-primary">Xem thêm ➜</button>
    </div>

    <!-- Danh sách phòng khám -->
    <div class="row flex-nowrap overflow-auto">
        @foreach (var p in Model)
        {
            string url = $"/booking/chi-nhanh-kham/{p.PhongKhamId}.html";
            <div class="col-10 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-1 shadow-sm text-center">
                    <!-- Hình ảnh phủ hết phần trên -->
                    <img src="~/assets/img/clinicbranch/@p.Image" class="card-img-top" style="height: 150px; object-fit: cover; object-position:top" alt="@p.TenPhongKham">

                    <div class="card-body d-flex flex-column">
                        <h5 class="mt-2 fw-bold">@p.TenPhongKham</h5>
                        <p class="text-muted mb-2">@p.DiaChi</p>

                        <!-- Giờ làm việc -->
                        <ul class="list-unstyled mb-3">
                            <li class="d-flex justify-content-between">
                                <span class="fw-semibold">Thứ 2 - Thứ 6:</span>
                                <span>7h30 - 16h30</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span class="fw-semibold">Thứ 7 - CN:</span>
                                <span>7h30 - 11h30</span>
                            </li>
                        </ul>

                        <a href="@url" class="btn btn-light border w-100 mt-auto">Đặt lịch khám →</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
