<div style="background-color:#3997ff;padding: 10px; display: flex; justify-content: center;">
    <div style="display: flex; gap: 20px;">
        <a href="#"
           style="color: white; text-decoration: none; font-weight: 500; display: flex; align-items: center; gap: 5px;">
            <span style="font-size: 20px;">❄️</span> Đặt khám Bác sĩ
        </a>
        <a href="#"
           style="color: white; text-decoration: none; font-weight: 500; display: flex; align-items: center; gap: 5px;">
            <span style="font-size: 20px;">🏢</span> Đặt khám Bệnh viện
        </a>
        <a href="#"
           style="color: white; text-decoration: none; font-weight: 500; display: flex; align-items: center; gap: 5px;">
            <span style="font-size: 20px;">🩺</span> Đặt khám Phòng khám
        </a>
        <a href="#"
           style="color: white; text-decoration: none; font-weight: 500; display: flex; align-items: center; gap: 5px;">
            <span style="font-size: 20px;">🧪</span> Đặt lịch Tiêm chủng
        </a>
    </div>
</div>
@await Component.InvokeAsync("DoctorAppointment")
@* @await Component.InvokeAsync("ClinicBranch") *@

<div class="container">
    <div class="text-center mt-3">
        <h1>Đa dạng chuyên khoa khám</h1>
        <p>Đặt khám dễ dàng và tiện lợi hơn với đầy đủ các chuyên khoa</p>
    </div>

    <div class="row">
        <!-- Hàng 1 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Nhikhoa.webp" class="specialty-icon"
                     alt="Nhi khoa">
                <p class="specialty-name">Nhi khoa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/sanphukhoa.webp" class="specialty-icon"
                     alt="Sản phụ khoa">
                <p class="specialty-name">Sản phụ khoa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Dalieuu.webp" class="specialty-icon"
                     alt="Da liễu">
                <p class="specialty-name">Da liễu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/tieuhoa.webp" class="specialty-icon"
                     alt="Tiêu hóa">
                <p class="specialty-name">Tiêu hóa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/coxuongkhop.webp" class="specialty-icon"
                     alt="Cơ xương khớp">
                <p class="specialty-name">Cơ xương khớp</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/miendich.webp" class="specialty-icon"
                     alt="Dị ứng - miễn dịch">
                <p class="specialty-name">Dị ứng - miễn dịch</p>
            </div>
        </div>

        <!-- Hàng 2 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Gaymehoisuc.png" class="specialty-icon"
                     alt="Gây mê hồi sức">
                <p class="specialty-name">Gây mê hồi sức</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/taimuihong.png" class="specialty-icon"
                     alt="Tai - mũi - họng">
                <p class="specialty-name">Tai - mũi - họng</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/ungbuou.png" class="specialty-icon"
                     alt="Ung bướu">
                <p class="specialty-name">Ung bướu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/timmach.png" class="specialty-icon"
                     alt="Tim mạch">
                <p class="specialty-name">Tim mạch</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/laokhoa.png" class="specialty-icon"
                     alt="Lão khoa">
                <p class="specialty-name">Lão khoa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Chanthuongchinhhinh.png" class="specialty-icon"
                     alt="Chấn thương chỉnh hình">
                <p class="specialty-name">Chấn thương chỉnh hình</p>
            </div>
        </div>

        <!-- Hàng 3 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/hoisuccapcuu.png" class="specialty-icon"
                     alt="Hồi sức cấp cứu">
                <p class="specialty-name">Hồi sức cấp cứu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/ngoaitongquat.png" class="specialty-icon"
                     alt="Ngoại tổng quát">
                <p class="specialty-name">Ngoại tổng quát</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/yhocduphong.png" class="specialty-icon"
                     alt="Y học dự phòng">
                <p class="specialty-name">Y học dự phòng</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Ranghammat.png" class="specialty-icon"
                     alt="Răng - Hàm - Mặt">
                <p class="specialty-name">Răng - Hàm - Mặt</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/truyennhiem.png" class="specialty-icon"
                     alt="Truyền nhiễm">
                <p class="specialty-name">Truyền nhiễm</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Noithan.png" class="specialty-icon"
                     alt="Nội thận">
                <p class="specialty-name">Nội thận</p>
            </div>
        </div>

        <!-- Hàng 4 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Noitiet.png" class="specialty-icon"
                     alt="Nội tiết">
                <p class="specialty-name">Nội tiết</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/tamthan.png" class="specialty-icon"
                     alt="Tâm thần">
                <p class="specialty-name">Tâm thần</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Hohap.png" class="specialty-icon" alt="Hô hấp">
                <p class="specialty-name">Hô hấp</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/xetnghiem.png" class="specialty-icon"
                     alt="Xét nghiệm">
                <p class="specialty-name">Xét nghiệm</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/huyet-hoc.png" class="specialty-icon"
                     alt="Huyết học">
                <p class="specialty-name">Huyết học</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/tamly.png" class="specialty-icon" alt="Tâm lý">
                <p class="specialty-name">Tâm lý</p>
            </div>
        </div>

        <!-- Hàng 5 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Noithankinh.png" class="specialty-icon"
                     alt="Nội thần kinh">
                <p class="specialty-name">Nội thần kinh</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/ngonngutrilieu.png" class="specialty-icon"
                     alt="Ngôn ngữ trị liệu">
                <p class="specialty-name">Ngôn ngữ trị liệu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/vatlitrilieu.webp" class="specialty-icon"
                     alt="Phục hồi chức năng - Vật lý trị liệu">
                <p class="specialty-name">Phục hồi chức năng - Vật lý trị liệu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/vosinhhiemmuon.png" class="specialty-icon"
                     alt="Vô sinh hiếm muộn">
                <p class="specialty-name">Vô sinh hiếm muộn</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Yhoccotruyen.webp" class="specialty-icon"
                     alt="Y học cổ truyền">
                <p class="specialty-name">Y học cổ truyền</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/laobenhphoi.png" class="specialty-icon"
                     alt="Lao - bệnh phổi">
                <p class="specialty-name">Lao - bệnh phổi</p>
            </div>
        </div>

        <!-- Hàng 6 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/yhocthethao.png" class="specialty-icon"
                     alt="Y học thể thao">
                <p class="specialty-name">Y học thể thao</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Nhankhoa.png" class="specialty-icon"
                     alt="Nhãn khoa">
                <p class="specialty-name">Nhãn khoa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Namkhoa.png" class="specialty-icon"
                     alt="Nam khoa">
                <p class="specialty-name">Nam khoa</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Ngoaitietnieu (1).png" class="specialty-icon"
                     alt="Ngoại tiết niệu">
                <p class="specialty-name">Ngoại tiết niệu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Chandoanhinhanh.webp" class="specialty-icon"
                     alt="Chẩn đoán hình ảnh">
                <p class="specialty-name">Chẩn đoán hình ảnh</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Ngoaithankinh.png" class="specialty-icon"
                     alt="Ngoại thần kinh">
                <p class="specialty-name">Ngoại thần kinh</p>
            </div>
        </div>

        <!-- Hàng 7 -->
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/Noitongquat.png" class="specialty-icon"
                     alt="Nội tổng quát">
                <p class="specialty-name">Nội tổng quát</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/ngoaitietnieu.png" class="specialty-icon"
                     alt="Ngoại niệu">
                <p class="specialty-name">Ngoại niệu</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/dinhduong.webp" class="specialty-icon"
                     alt="Dinh dưỡng">
                <p class="specialty-name">Dinh dưỡng</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/ngoailongngucmachmau.png" class="specialty-icon"
                     alt="Ngoại lồng ngực mạch">
                <p class="specialty-name">Ngoại lồng ngực mạch</p>
            </div>
        </div>
        <div class="col-4 col-md-2">
            <div class="specialty-card">
                <img src="~/assets/img/chude/37_phauthuattaohinhthammy.webp" class="specialty-icon"
                     alt="Phẫu thuật tạo hình (thẩm mỹ)">
                <p class="specialty-name">Phẫu thuật tạo hình (thẩm mỹ)</p>
            </div>
        </div>
    </div>
</div>